---
import Layout from '../layouts/Layout.astro';
const posts = await Astro.glob('../../content/pages/*.md');
---

<Layout title="Stories | FashionHaydee">
  <h1>Jewelry Stories</h1>
  <p>Explore inspirations, symbolic custom charms, and our behind-the-scenes creative process.</p>

  <ul>
    {posts.map(({ url, frontmatter }) => (
      <li>
        <a href={url}>
          <h2>{frontmatter.title}</h2>
          <p>{frontmatter.description}</p>
        </a>
      </li>
    ))}
  </ul>
</Layout>
